{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'favourites/css/favourites.css' %}">
{% endblock %}

{% block page_header %}
<div class="row">
    <div class="col-12 text-center mt-3">
        <h2 class="logo-font banner-title">Your Favourites</h2>
        {% if favourites_items %}
        <p>Here are all your favourites ({{ favourites_items_count }})</p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="product-container col-10 offset-1">
            {% if favourites_items %}
            <div class="row">
                {% for favourite in favourites_items %}
                    <div class="card-container col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card card-poster h-100 border-0">
                            {% if favourite.image %}
                            <a href="{% url 'product_detail' favourite.id %}">
                                <img class="card-img-top img-fluid" src="{{ favourite.image.url }}" alt="{{ favourite.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'product_detail' favourite.id %}">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ favourite.name }}">
                            </a>
                            {% endif %}
                            <div class="card-body pb-0">
                                <p class="mb-0">{{ favourite.name }}</p>
                            </div>
                            <div class="card-footer pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        {% if favourite.has_sizes %}
                                        <p class="lead mb-0 text-left font-weight-bold">£{{ favourite.A4_price }}</p>
                                        {% else %}
                                        <p class="lead mb-0 text-left font-weight-bold">£{{ favourite.price }}</p>
                                        {% endif %}
                                        {% if favourite.category %}
                                        <p class="small mt-1 mb-0">
                                            <a href="{% url 'products' %}?category={{ product.category.name }}" class="text-muted">
                                                <i class="fas fa-tag mr-1"></i>{{ favourite.category.friendly_name }}
                                            </a>
                                        </p>
                                        {% endif %}
                                        <!-- Edit & Remove Buttons -->
                                        <div>
                                            {% if request.user.is_superuser %}
                                                <a href="{% url 'edit_product' favourite.id %}" class="btn btn-sm btn-dark rounded border-0 mt-1">Edit</a>
                                            {% endif %}
                                            <button data-target="#deleteModal-{{ favourite.id }}" class="btn btn-sm btn-dark rounded border-0 mt-1" data-toggle="modal">Remove</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Delete Modal -->
                    <div class="modal" tabindex="-1" role="dialog" id="deleteModal-{{ favourite.id }}">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title logo-font">Delete Product</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to remove <strong>{{ favourite.name }}</strong> from your favourites list?</p>
                                </div>
                                <div class="modal-footer">
                                    <a href="{% url 'remove_from_favourites_in_favourites' favourite.id %}" class="btn btn-dark rounded border-0">
                                    Remove
                                    <i class="fa-solid fa-trash ml-1"></i>
                                    </a>
                                    <button type="button" class="btn btn-dark rounded border-0" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% else %}
                <p class="lead mb-5">You currently have no favourites</p>
                <a href="{% url 'products' %}?random=True" class="btn btn-dark btn-lg border-0">
                    <i class="fa-regular fa-circle-left"></i>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
<div class="arrow-button btn btn-dark border-0">
    <a class="d-flex h-100 justify-content-center icon-light">
        <i class="fa-regular fa-circle-up mx-auto my-auto"></i>
    </a>	
</div>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'favourites/js/favourites.js' %}"></script>
{% endblock %}