{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}
{% block extra_title %}- Cart{% endblock %}

{% block page_header %}
    <div class="row">
        <div class="col-12 text-center mt-3">
            <h1 class="logo-font banner-title">Shopping Cart</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                {% if bag_items %}

                    <!-- Displays vertically on md screen size and below -->
                    <div class="d-block d-lg-none sm-font">
                        <div class="row">
                            <div class="col mt-4">
                                {% include "bag/bag-total.html" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {% include "bag/checkout-buttons.html" %}
                                <div class="text-muted mt-3 mb-3">A summary of your cart is below</div>
                            </div>
                        </div>
                        {% for item in bag_items %}
                            <div class="row">
                                <div class="col-12 col-sm-6 mb-2">
                                    {% include "bag/product-image.html" %}
                                </div>
                                <div class="col-12 col-sm-6 mb-2">
                                    {% include "bag/product-info.html" %}
                                </div>
                                <div class="col-12 col-sm-6 order-sm-last">
                                    {% if item.product.has_sizes %}
                                        <p class="my-0">£{{ item.price }}</p>
                                    {% else %}
                                        <p class="my-0">Price Each: £{{ item.product.price }}</p>
                                    {% endif %}
                                    <p><strong>Subtotal: </strong>£{{ item.price | calc_subtotal:item.quantity }}</p>
                                </div>
                                <div class="col-12 col-sm-6 mb-2">
                                    {% include "bag/quantity-form.html" %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <hr class="mt-3 mb-4">
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <!-- Displays horizontally on lg screen size and above -->
                    <div class="table-responsive rounded d-none d-lg-block">
                        <table class="table table-sm table borderless">
                            <thead class="text-dark">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>
                            {% for item in bag_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        {% include "bag/product-image.html" %}
                                    </td>
                                    <td class="py-3">
                                        {% include "bag/product-info.html" %}
                                    </td>
                                    {% if item.product.has_sizes %}
                                    <td class="py-3">
                                        <p class="my-0">£{{ item.price }}</p>
                                    </td>
                                    {% else %}
                                    <td class="py-3">
                                        <p class="my-0">£{{ item.product.price }}</p>
                                    </td>
                                    {% endif %}
                                    <td class="py-3">
                                        <form method="POST" class="form update-form" action="{% url 'adjust_bag' item.item_id %}">
                                            {% csrf_token %}
                                            <div class="form-group btn-form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty mobile-btn btn-dark border-0" aria-label="decrement quantity"
                                                            data-item_id="{{ item.item_id }}" id="desk-decrement-qty_{{ item.item_id }}">
                                                            <i class="fa-regular qty-circle fa-circle-down"></i>
                                                        </button>
                                                    </div>
                                                    <input class="form-control qty_input" type="number"
                                                                name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                                data-item_id="{{ item.item_id }}"
                                                                id="desk-id_qty_{{ item.item_id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty mobile-btn btn-dark border-0" aria-label="increment quantity"
                                                            data-item_id="{{ item.item_id }}" id="desk-increment-qty_{{ item.item_id }}">
                                                            <i class="fa-regular qty-circle fa-circle-up"></i>
                                                        </button>
                                                    </div>
                                                    {% if item.product.has_sizes %}
                                                        <input type="hidden" name="product_size" value="{{ item.size }}">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </form>
                                        <a class="update-link text-dark" aria-label="update product quantity"><small>Update</small></a>
                                        <a class="remove-item float-right text-dark" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}" aria-label="remove product"><small>Remove</small></a>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">£{{ item.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 pb-3 text-right">
                                    {% include "bag/bag-total.html" %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right pt-3">
                                    {% include "bag/checkout-buttons.html" %}
                                </td>
                            </tr>
                        </table>
                    </div>

                <!-- Empty bag -->
                {% else %}
                    <div class="row">
                        <div class="col col-10 offset-1">
                            <p class="lead mb-5 mt-5">Your bag is empty</p>
                            <a href="{% url 'products' %}?random=True" class="btn btn-dark btn-lg border-0" aria-label="to go main gallery">
                                <i class="fa-regular fa-circle-left"></i>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        
        <!-- Up to top button -->
        <div class="arrow-button btn btn-dark border-0">
            <a class="d-flex h-100 justify-content-center icon-light" aria-label="go to top of the page">
                <i class="fa-regular fa-circle-up mx-auto my-auto"></i>
            </a>	
        </div>
    </div>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'bag/js/bag.js' %}"></script>
    <script>
        // Update quantity on click
        $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
        })
        // Remove item and reload on click
        $('.remove-item').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var size = $(this).data('product_size');
            var url = `/bag/remove/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};
            $.post(url, data)
            .done(function() {
                location.reload();
            });
        })
    </script>
{% endblock %}