{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="index-image">
        <div class="container-fluid">
            <div class="row h-100">
                <div class="col-12 text-center">
                    <h1 class="logo-font welcome">Welcome to Poster Prints.</h1>
                </div>
                <div class="col-12 text-center">
                    <h2>
                        <a href="" class="btn btn-dark no-border btn-lrg text-uppercase my-3">View Gallery</a>
                    </h2>
                </div>
            </div>
        </div>
    </div>  
{% endblock %}