{% extends 'base.html' %}
{% load static %}
{% block extra_title %}- Checkout Success{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="logo-font no-banner-title">Thank you for your order!</h2>
            <hr class="w-75 mb-4">
            <p class="text-dark">Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-lg-7 container order-details">
            <div class="order-confirmation-wrapper p-2 border rounded">
                <div class="row">
                    <div class="col">
                        <small class="text-muted">Order Info:</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark font-weight-bold">Order Number</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 text-wrap">{{ order.order_number }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark font-weight-bold">Order Date</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.date }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <small class="text-muted">Order Details:</small>
                    </div>
                </div>

                {% for item in order.lineitems.all %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="small mb-0 text-dark font-weight-bold">{{ item.product.name }}{% if item.product_size %} - size {{ item.product_size|upper }}{% endif %}:
                        </p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="small mb-0">
                            {{ item.quantity }} @ £{% if item.product_size %}
                                {% if item.product_size == 'a4' %}{{ item.product.a4_price }}{% endif %}
                                {% if item.product_size == 'a3' %}{{ item.product.a3_price }}{% endif %}
                                {% if item.product_size == 'a2' %}{{ item.product.a2_price }}{% endif %}
                                {% if item.product_size == 'a1' %}{{ item.product.a1_price }}{% endif %}
                                {% if item.product_size == 'a0' %}{{ item.product.a0_price }}{% endif %}
                            {% else %}
                                {{ item.product.price }}
                            {% endif %}
                        </p>
                    </div>
                </div>
                {% endfor %}

                <div class="row">
                    <div class="col">
                        <small class="text-muted">Delivering To:</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark font-weight-bold">Full Name<p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.full_name }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark font-weight-bold">Address 1</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.street_address1 }}</p>
                    </div>
                </div>

                {% if order.street_address2 %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark font-weight-bold">Address 2</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.street_address2 }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark font-weight-bold">Town or City</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.town_or_city }}</p>
                    </div>
                </div>

                {% if order.county %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark font-weight-bold">County</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.county }}</p>
                    </div>
                </div>
                {% endif %}

                {% if order.postcode %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark font-weight-bold">Postal Code</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.postcode }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark font-weight-bold">Country</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.country }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark font-weight-bold">Phone Number</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.phone_number }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <small class="text-muted">Billing Info:</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark font-weight-bold">Order Total</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.order_total }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark font-weight-bold">Delivery</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.delivery_cost }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark font-weight-bold">Grand Total</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.grand_total }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
        {% if from_profile %}
        <a href="{% url 'profile' %}" class="btn btn-dark border-0 rounded my-2" aria-label="go back to profile page">
            <i class="fa-solid fa-arrow-rotate-left mr-2"></i>
            <span class="upper-case">Back to Profile</span>
        </a>
        {% else %}
            <a href="{% url 'products' %}?random=True" class="btn btn-dark border-0 rounded my-2" aria-label="to go main gallery">
                <i class="fa-solid fa-cart-shopping mr-2"></i>
                <span class="upper-case">Keep Shopping!</span>
            </a>
        {% endif %}
        </div>
    </div>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'checkout/js/checkout.js' %}"></script>
    <script>
        // Remove free delivery banner
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("delivery-banner").style.display = "none";
        });
    </script>
{% endblock %}