.order-history {
    max-height: 500px;
    overflow: auto;
}

footer {
    margin-top: 20px;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #504e4d;
}

#id_default_country option:first-child {
    color: #aab7ca;
}