/* ------------------------- Body */

.main-body {
    min-height: 80vh;
}
.logo-font {
    font-family: 'Noto Serif KR', sans-serif;
    color: #504e4d;
}

.logo-font a{
    text-decoration: none;
    cursor: pointer;
    color: #504e4d;
}

.title {
    font-size: 50px;
}

.banner-title {
    position: relative;
    padding-bottom: 50px;
    margin-top: 220px;
    pointer-events: none;
}

.no-banner-title {
    position: relative;
    padding-bottom: 40px;
    margin-top: 190px;
    pointer-events: none;
}

.index-image {
    background: url('/media/wall.png') no-repeat center center fixed;
    background-size: cover;
    color: #504e4d;
    font-family: 'DM Sans', sans-serif;
    height: 100vh;
}

header, footer {
    background-color: #f0eddf;
    z-index: 1000;
}

.card-img-top {
    size: 90%;
}

.bg-dark {
    color: #504e4d;
}

.text-dark {
    color: #504e4d;
}

.text-dark a {
    text-decoration: none;
    cursor: pointer;
    color: #504e4d;
}

.text-dark:hover,
.text-dark:active,
.text-dark:focus {
    color: #504e4d;
}

.text-light {
    color: #eee9cc;
}

.main-logo {
    font-size: 50px;
    padding-left: 10px;
    color: #504e4d;
}

.welcome {
    position: relative;
    padding-top: 200px;
}

.welcome h1,
.welcome p {
    pointer-events: none;
}

hr {
    color: #504e4d;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* ------------------------- Header */

.search-bar {
    max-width: 500px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: auto;
}

.sm-search-bar {
    max-width: 500px;
    width: 90%;
    padding: 10px;
    margin: auto;
}


.dropdown-menu {
    background: #f0eddf;
}

.item-bar {
    margin: auto;
}

.mobile-list {
    margin: 0;
}

.mobile-search {
    padding-top: 0;
    padding-bottom: 10px;
}

#delivery-banner {
    display: none;
}

/* ------------------------- Footer */

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.socials {
   font-size:x-large;
}

.cards {
    margin-top: -15px;
}

.small-logo {
    height: 50px;
    width: auto;
}

.fa-github {
    font-size: x-large;
}

/* ------------------------- Icons */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    color: #504e4d;
    cursor: pointer;
}

.icon-light {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    color: #eee9cc;
    text-decoration: none;
}

.icon-light:hover,
.icon-light:active,
.icon-light:focus {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    color: #504e4d;
    text-decoration: none;
}

.icon:hover,
.icon:active,
.icon:focus {
    color: #222121;
}

/* ------------------------- Buttons */

.btn-dark {
    background: #504e4d;
    color: #f0eddf;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.btn-light {
    background: #eee9cc;
    color: #504e4d;
    transition: transform 0.3s ease;
}

.no-border {
    border: None;
}

.border-dark {
    border: 2px solid #504e4d !important;
}

.border-light {
    border: 2px solid #eee9cc !important
}

.btn-dark:hover,
.btn-dark:active,
.btn-dark:focus {
    background: #eee9cc;
    color: #504e4d !important;
    text-decoration: none;
}

.btn-light:hover,
.btn-light:active,
.btn-light:focus {
    background: #504e4d;
    color: #eee9cc !important;
    text-decoration: none;
}

.detail-button {
    margin-top: 10px;
}

.bag-button {
    margin-top: 40px;
}

/* ------------------------- Links */

.link-dark {
    text-decoration: none;
    color: #504e4d;
    transition: transform 0.3s ease;
}

.link-dark:hover {
    color:#222121;
    text-decoration: none;
    cursor: pointer;
}

/* ------------------------- Messages */

.message-container {
    position: fixed;
    top: 80px;
    right: 20px;
    z-index: 99999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.toast-col-left {
    padding-right: 5px;
    padding-left: 10px;
}

.toast-col-right {
    padding-right: 10px;
    padding-left: 5px;
}

/* ------------------------- Allauth Formatting */

.allauth-title {
    margin-top: 180px;
}

.allauth-form-inner-content {
    margin-left: 25%;
}

.allauth-form-inner-content input,
.allauth-form-inner-content p {
    max-width: 350px;
}

.allauth-form-inner-content hr {
    max-width: 350px;
    margin: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content label::placeholder {
    color: #aab7c4;
}

/* ------------------------- Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
}

/* ------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

@media (max-width: 1170px) {
    .main-logo {
        font-size: 30px;
    }
}

@media (max-width: 992px) {
    .allauth-title,
    .no-banner-title {
        margin-top: 100px;
        padding-bottom: 20px;
    }
    .banner-title {
        margin-top: 110px;
        padding-bottom: 20px;
    }
    .title {
        font-size: 30px;
    }
    .mainbody .image-container.my-5 {
        margin-top: 0;
    }
}

@media (max-width: 720px) {
    .welcome {
        padding-top: 150px;
    }
    .allauth-form-inner-content {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
    }
    .allauth-title,
    .no-banner-title {
        margin-top: 100px;
        padding-bottom: 20px;
    }
    .banner-title {
        margin-top: 120px;
        padding-bottom: 20px;
    }
    .title {
        font-size: 30px;
    }
    .mainbody .image-container.my-5 {
        margin-top: 0;
    }
    .big-button {
        margin-top: 10px;
    }
}

@media (max-width: 440px) {
    .navbar ul {
        padding-top: 5px;
        padding-left: 0;
    }
    .list-inline-item a {
        padding: 0;
    }
    .no-banner-title {
        padding-bottom: 0;
    }
    .banner-title {
        padding-bottom: 0;
    }
    .sub-title {
        padding-top: 20px;
    }
    .bag-button {
        margin-top: 20px;
    }
}