/* --------------------------------------------------------------- Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&family=Roboto:wght@400;500;700&display=swap');

/* --------------------------------------------------------------- Body */

body {
    font-family: 'Roboto', sans-serif;
}

.main-body {
    min-height: 80vh;
}
.logo-font {
    font-family: 'Noto Serif KR', sans-serif;
    color: #504e4d;
}

.logo-font a{
    text-decoration: none;
    cursor: pointer;
    color: #504e4d;
}

.title {
    font-size: 50px;
}

.banner-title {
    position: relative;
    padding-bottom: 50px;
    margin-top: 220px;
    pointer-events: none;
}

.no-banner-title {
    position: relative;
    padding-bottom: 40px;
    margin-top: 190px;
    pointer-events: none;
}

.index-image {
    background: url('/media/wall.webp') no-repeat center center fixed;
    background-size: cover;
    color: #504e4d;
    height: 100vh;
}

header, footer {
    background-color: #f0eddf;
    z-index: 1000;
}

.bg-dark {
    color: #504e4d;
}

.text-dark {
    color: #504e4d;
}

.text-dark a {
    text-decoration: none;
    cursor: pointer;
    color: #504e4d;
}

.text-dark:hover,
.text-dark:active,
.text-dark:focus {
    color: #504e4d;
}

.text-light {
    color: #eee9cc;
}

.main-logo {
    font-size: 50px;
    padding-left: 10px;
    color: #504e4d;
}

.welcome {
    position: relative;
    padding-top: 200px;
}

.welcome h1,
.welcome p {
    pointer-events: none;
}

hr {
    color: #504e4d;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* --------------------------------------------------------------- Header */

.search-bar {
    max-width: 500px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: auto;
}

.sm-search-bar {
    max-width: 500px;
    width: 90%;
    padding: 10px;
    margin: auto;
}

.dropdown-menu {
    background: #f0eddf;
}

.item-bar {
    margin: auto;
}

.mobile-list {
    margin: 0;
}

.mobile-search {
    padding-top: 0;
    padding-bottom: 10px;
}

#delivery-banner {
    display: none;
}

#delivery-banner p {
    margin: 0;
    padding: 5px;
}

/* --------------------------------------------------------------- Footer */

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.socials {
   font-size:x-large;
}

.cards {
    margin-top: -15px;
}

.small-logo {
    height: 50px;
    width: auto;
}

.fa-github {
    font-size: x-large;
}

footer {
    margin-top: 20px;
}

/* --------------------------------------------------------------- Icons */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    color: #504e4d;
    cursor: pointer;
}

.icon-light {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    color: #eee9cc;
    text-decoration: none;
}

.icon-light:hover,
.icon-light:active,
.icon-light:focus {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    color: #504e4d;
    text-decoration: none;
}

.icon:hover,
.icon:active,
.icon:focus {
    color: #222121;
}

/* --------------------------------------------------------------- Buttons */

.btn-dark {
    background: #504e4d;
    color: #f0eddf;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.btn-light {
    background: #eee9cc;
    color: #504e4d;
    transition: transform 0.3s ease;
}

.no-border {
    border: None;
}

.border-dark {
    border: 2px solid #504e4d !important;
}

.border-light {
    border: 2px solid #eee9cc !important
}

.btn-dark:hover,
.btn-dark:active,
.btn-dark:focus {
    background: #eee9cc;
    color: #504e4d !important;
    text-decoration: none;
}

.btn-light:hover,
.btn-light:active,
.btn-light:focus {
    background: #504e4d;
    color: #eee9cc !important;
    text-decoration: none;
}

.detail-button {
    margin-top: 10px;
}

.bag-button {
    margin-top: 40px;
}

.sm-bag-button {
    margin-top: 40px;
}

/* --------------------------------------------------------------- Links */

.link-dark {
    text-decoration: none;
    color: #504e4d;
    transition: transform 0.3s ease;
}

.link-dark:hover {
    color:#222121;
    text-decoration: none;
    cursor: pointer;
}

/* --------------------------------------------------------------- Messages */

.message-container {
    position: fixed;
    top: 80px;
    right: 20px;
    z-index: 99999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.toast-col-left {
    padding-right: 5px;
    padding-left: 10px;
}

.toast-col-right {
    padding-right: 10px;
    padding-left: 5px;
}

/* --------------------------------------------------------------- Allauth Formatting */

.allauth-title {
    margin-top: 180px;
}

.allauth-form-inner-content {
    margin-left: 25%;
}

.allauth-form-inner-content input,
.allauth-form-inner-content p {
    max-width: 350px;
}

.allauth-form-inner-content hr {
    max-width: 350px;
    margin: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content label::placeholder {
    color: #aab7c4;
}

/* --------------------------------------------------------------- Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
}

/* --------------------------------------------------------------- Bag */


.bag-image {
    max-height: 150px;
    width: auto;
}

.delivery-alert {
    color: #f0eddf;
    background: #504e4d;
    width: fit-content;
}

.update-link,
.remove-item {
    cursor: pointer;
}

.mobile-btn {
    width: 50px;
    height: auto;
}

.mobile-btn .qty-circle {
    font-size: x-large;
}

/* --------------------------------------------------------------- up-to-top arrow */

.arrow-button {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #eee9cc;
    text-decoration: none;
    background: #504e4d;
    display: none;
    transition: transform 0.3s ease;
}

.arrow-button:hover,
.arrow-button:active,
.arrow-button:focus {
    background: #eee9cc;
    text-decoration: none;
}

.arrow-button a i {
    color: #eee9cc;
    text-decoration: none;
}

.arrow-button:hover a i,
.arrow-button:active a i,
.arrow-button:focus a i {
    color: #504e4d;
    text-decoration: none;
}

.arrow-button .fa-circle-up {
    font-size: 30px;
    text-decoration: none;
}

.arrow-button .fa-circle-up:hover {
    text-decoration: none;
}

/* --------------------------------------------------------------- Checkout */

.order-details {
    max-width: 700px;
  }


select,
select option {
color: #504e4d;
}

select:invalid,
select option[value=""] {
color: #aab7c4 !important;
}

.order-confirmation-wrapper {
margin: 20px;
}
  
/* --------------------------------------------------------------- Stripe */
  
.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #504e4d;
    border: 1px solid #504e4d;
}

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, .85);
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

#id_country,
#id_country option:not(:first-child) {
    color: #504e4d;
}

#id_country option:first-child {
    color: #aab7c4;
}
  
/* --------------------------------------------------------------- Loading spinner */
  
#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(164, 163, 167, 0.7);
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/* --------------------------------------------------------------- Contact */

.contact-hr {
    max-width: 700px;
}

#contact-form {
    max-width: 600px;
    margin: auto;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

/* --------------------------------------------------------------- Products & Favourites */

.card-poster {
    padding: 20px;
}

.card-container {
    transition: transform 0.3s ease;
    margin: 15px 0;
}

.card-container:hover {
    transform: scale(1.05);
    z-index: 1;
}

.card-container h2 {
    font-size: x-large;
}

.card,
.card-footer {
    background: #e5e3e2;
}

.category-title {
    font-size: 20px;
}

.card-footer,
.card-body {
    padding-left: 0;
}

.card-footer {
    padding-bottom: 0;
}

.add-product-container {
    max-width: 600px;
}

textarea.form-control {
    max-height: 100px;
}

/* --------------------------------------------------------------- Product Detail Page */

.product-star {
    font-size: x-large;
    text-decoration: none;
}

.tool1 {
    background: #504e4d;
    color: #e5e3e2;
    visibility: hidden;
    margin: 0;
    text-decoration: none;
}

.tool2 {
    background: #504e4d;
    color: #e5e3e2;
    visibility: hidden;
    margin: 0;
    text-decoration: none;
}

.tooltip .tooltip-inner {
    background-color: #504e4d;
}

/* --------------------------------------------------------------- Page to top arrow */

.arrow-button {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #eee9cc;
    text-decoration: none;
    background: #504e4d;
    display: none;
    transition: transform 0.3s ease;
}

.fade-in {
    opacity: 1;
    transition: opacity 1s ease-in;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.arrow-button:hover,
.arrow-button:active,
.arrow-button:focus {
    background: #eee9cc;
    text-decoration: none;
}

.arrow-button a i {
    color: #eee9cc;
    text-decoration: none;
}

.arrow-button:hover a i,
.arrow-button:active a i,
.arrow-button:focus a i {
    color: #504e4d;
    text-decoration: none;
}

.arrow-button .fa-circle-up {
    font-size: 30px;
    text-decoration: none;
}

.arrow-button .fa-circle-up:hover {
    text-decoration: none;
}

.qty-circle {
    font-size: 20px;
}

/* --------------------------------------------------------------- Profile */

.order-history {
    max-height: 500px;
    overflow: auto;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #504e4d;
}

#id_default_country option:first-child {
    color: #aab7ca;
}

/* --------------------------------------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  

@media (max-width: 1170px) {
    .main-logo {
        font-size: 30px;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    /* .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    } */
    /* .delivery-alert {
        float: right;
      } */
}

@media (max-width: 991px) {
    .allauth-title,
    .no-banner-title {
        margin-top: 100px;
        padding-bottom: 20px;
    }
    .banner-title {
        margin-top: 140px;
        padding-bottom: 20px;
    }
    .title {
        font-size: 30px;
    }
    .mainbody .image-container.my-5 {
        margin-top: 0;
    }
}

@media (max-width: 720px) {
    .welcome {
        padding-top: 150px;
    }
    .allauth-form-inner-content {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
    }
    .allauth-title,
    .no-banner-title {
        margin-top: 100px;
        padding-bottom: 20px;
    }
    .banner-title {
        margin-top: 120px;
        padding-bottom: 20px;
    }
    .title {
        font-size: 30px;
    }
    .mainbody .image-container.my-5 {
        margin-top: 0;
    }
    .big-button {
        margin-top: 10px;
    }
}

/* Order Numnber line break */
@media (max-width: 576px) {
    .text-wrap {
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
        }   
    }

@media (max-width: 440px) {
    .navbar ul {
        padding-top: 5px;
        padding-left: 0;
    }
    .list-inline-item a {
        padding: 0;
    }
    .no-banner-title {
        padding-bottom: 0;
    }
    .banner-title {
        padding-bottom: 0;
    }
    .sub-title {
        padding-top: 20px;
    }
    .bag-button {
        margin-top: 20px;
    }
    .sm-font {
        font-size: small;
    }
    .sm-bag-button {
        margin-top: 20px;
        font-size: small;
    }
    .mobile-btn {
        width: 50px;
        height: auto;
    }
    .mobile-btn .qty-circle {
        font-size: x-large;
    }
    .card-poster {
        padding: 20px;
    }
    .sort-select-wrapper {
        margin-top: 20px;
    }
}