/* ------------------------- Body */

.main-body {
    min-height: 80vh;
}
.logo-font {
    font-family: 'Noto Serif KR', sans-serif;
    color: #504e4d;
}

.logo-font a{
    text-decoration: none;
    cursor: pointer;
    color: #504e4d;
}

.title {
    font-size: 50px;
}

.bag-title {
    margin-top: 220px;
}

.index-image {
    background: url('/media/wall-4.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #504e4d;
    font-family: 'DM Sans', sans-serif;
    height: 100vh;
}

header, footer {
    background-color: #f0eddf;
    z-index: 1000;
}

.card-img-top {
    size: 90%;
}

.bg-dark {
    color: #504e4d;
}

.text-dark {
    color: #504e4d;
}

.text-dark a {
    text-decoration: none;
    cursor: pointer;
    color: #504e4d;
}

.text-dark:hover,
.text-dark:active,
.text-dark:focus {
    color: #504e4d;
}

.text-light {
    color: #eee9cc;
}

.main-logo {
    font-size: 50px;
    padding-left: 10px;
    color: #504e4d;
}

.welcome {
    position: relative;
    padding-top: 200px;
}

/* ------------------------- Header */

.search-bar {
    max-width: 500px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: auto;
}

.sm-search-bar {
    max-width: 500px;
    width: 90%;
    padding: 10px;
    margin: auto;
}


.dropdown-menu {
    background: #f0eddf;
}

.item-bar {
    margin: auto;
}

.mobile-list {
    margin: 0;
}

.mobile-search {
    padding-top: 0;
    padding-bottom: 10px;
}

#delivery-banner {
    display: none;
}

/* ------------------------- Footer */

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

.socials {
   font-size:x-large;
}

.cards {
    margin-top: -15px;
}

.small-logo {
    height: 50px;
    width: auto;
}

/* ------------------------- Icons */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    color: #504e4d;
    cursor: pointer;
}

.icon-light {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    color: #eee9cc;
    text-decoration: none;
}

.icon-light:hover,
.icon-light:active,
.icon-light:focus {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    color: #504e4d;
    text-decoration: none;
}

.icon:hover,
.icon:active,
.icon:focus {
    color: #222121;
}

/* ------------------------- Buttons */

.btn-dark {
    background: #504e4d;
    color: #f0eddf;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.btn-light {
    background: #eee9cc;
    color: #504e4d;
    transition: transform 0.3s ease;
}

.no-border {
    border: None;
}

.border-dark {
    border: 2px solid #504e4d !important;
}

.border-light {
    border: 2px solid #eee9cc !important
}

.btn-dark:hover,
.btn-dark:active,
.btn-dark:focus {
    background: #eee9cc;
    color: #504e4d !important;
    text-decoration: none;
}

.btn-light:hover,
.btn-light:active,
.btn-light:focus {
    background: #504e4d;
    color: #eee9cc !important;
    text-decoration: none;
}

/* ------------------------- Links */

.link-dark {
    text-decoration: none;
    color: #504e4d;
    transition: transform 0.3s ease;
}

.link-dark:hover {
    color:#222121;
    text-decoration: none;
    cursor: pointer;
}

/* ------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

@media (max-width: 1170px) {
    .main-logo {
        font-size: 30px;
    }
}

@media (max-width: 720px) {
    .welcome {
        padding-top: 200px;
    }
}

@media (max-width: 440px) {
    .navbar ul {
        padding-top: 5px;
        padding-left: 0;
    }
    .list-inline-item a {
        padding: 0;
    }
}