<footer>
    <div class="container footer-content">
      <div class="row pt-2">
        <div class="col-sm-4 text-center mb-2">
          <h3 class="logo-font pb-1"><strong>Socials</strong></h3>
          <ul class="list-unstyled list-inline socials">
            <li class="list-inline-item"><a href="https://www.facebook.com" aria-label="Go to facebook page (opens in new tab)" target="_blank"><i class="fa-brands fa-facebook icon"></i></a></li>
            <li class="list-inline-item"><a href="https://www.twitter.com" aria-label="Go to twitter page (opens in new tab)" target="_blank"><i class="fa-brands fa-twitter icon"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com" aria-label="Go to instagram page (opens in new tab)" target="_blank"><i class="fa-brands fa-instagram icon"></i></a></li>
        </ul>
            <p>Poster Prints. © <span id="current-year"> </span></p>
            <p> Created and designed by Jamie2210 <a href="https://github.com/jamie2210/CI_MS4_PP"
              target="_blank" aria-label="Go to Github site"><i class="link-dark fa-brands fa-github"></i></a></p>
        </div>
        <div class="col-sm-4 text-center mb-2">
          <h3 class="logo-font pb-1"><strong>Contact</strong></h3>
          <div class="link-dark">
            <p><a href="{% url 'contact' %}" aria-label="Go to contact form page" class="link-dark"><i class="fa-solid fa-envelope"></i> Contact Form</a></p>
          </div>
          <p ><i class="fa-solid fa-phone icon"></i> 020 2887 4499</p>
          <p ><i class="fa-solid fa-home icon"></i> Warehouse 404, London, SW17 2PP</p>
        </div>
        <div class="col-sm-4 text-center mb-2">
          <h3 class="logo-font pb-1"><strong>Payment</strong></h3>
          <p><i class="fa-brands fa-stripe fa-3x icon"></i></p>
          <p class="cards">Cards Accepted:</p>
          <i class="cards fa-brands fa-cc-visa fa-2x icon"></i>
          <i class="cards fa-brands fa-cc-mastercard fa-2x icon"></i>
          <i class="cards fa-brands fa-cc-amex fa-2x icon"></i>
        </div>
    </div>
  </div>
  </footer>