<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link logo-font mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item text-dark">By Price</a>
                <a href="" class="dropdown-item text-dark">By Category</a>
                <a href="" class="dropdown-item text-dark">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link logo-font mr-5" href="#" id="photography-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Photopraphy
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="photography-link">
                <a href="" class="dropdown-item text-dark">Landscapes</a>
                <a href="" class="dropdown-item text-dark">Portraits</a>
                <a href="" class="dropdown-item text-dark">Widllife</a>
                <a href="" class="dropdown-item text-dark">All Photography</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link logo-font mr-5" href="#" id="graphics-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Graphic Design
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="graphics-link">
                <a href="" class="dropdown-item text-dark">Comics</a>
                <a href="" class="dropdown-item text-dark">Illustrations</a>
                <a href="" class="dropdown-item text-dark">Random</a>
                <a href="" class="dropdown-item text-dark">All Graphic Design</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link logo-font" href="#" id="text-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Text
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="text-link">
                <a href="" class="dropdown-item text-dark">Movies</a>
                <a href="" class="dropdown-item text-dark">Typography</a>
                <a href="" class="dropdown-item text-dark">Motivational</a>
                <a href="" class="dropdown-item text-dark">All Text</a>
            </div>
        </li>
    </ul>
</div>