<ul class="mobile-list mr-2 d-block d-lg-none">
    <li class="list-inline-item">
        <a class="text-dark nav-link" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="text-center">
                <div><i class="fas fa-search fa-lg"></i></div>
                <p class="my-0">Search</p>
            </div>
        </a>
        <div class="dropdown-menu mobile-search border-0 w-100 my-0 rounded-0" aria-labelledby="mobile-search">
            <form class="form sm-search-bar" method="GET" action="{% url 'products' %}">
                <div class="input-group w-100">
                    <input class="form-control border rounded-0" type="text" name="q" placeholder="Search our site">
                    <div class="input-group-append">
                        <button class="form-control btn btn-dark no-border rounded-0 icon-light" type="submit">
                            <span>
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </li>
    <li class="list-inline-item dropdown">
        <a href="#" class="nav-link d-block d-lg-none" id="user-option" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="text-center link-dark">
            <div><i class="fa-solid fa-user fa-lg icon"></i></div>
            <p class="my-0">My Account</p>
            </div>
        </a>
        <div class="dropdown-menu pl-2" aria-labelledby="user-option">
            {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <a href="{% url 'add_product' %}" class="dropdown-item">Manage Items</a>
            {% endif %}
            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
            <a href="{% url 'view_favourites' %}" class="dropdown-item">My Favourites</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
            {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
            <a href="{% url 'account_login' %}" class="dropdown-item">Log In</a>
            {% endif %}
        </div>
    </li>
    <li class="list-inline-item pr-2">
        <a class="{% if grand_total  %} font-weight-bold {% endif %} nav-link d-block d-lg-none" href="{% url 'view_bag' %}">
            <div class="text-center link-dark">
                <div><i class="fa-solid fa-cart-shopping icon"></i></div>
                <p class="my-0">
                    {% if grand_total %}
                        £{{ grand_total|floatformat:2 }}
                    {% else %}
                        £0.00
                    {% endif %}
                </p>
            </div>
        </a>
    </li>
</ul>