{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block innner_content %}

    <h1 class="logo-font allauth-title mb-4">{% trans "Set Password" %}</h1>
    <hr class="mb-4">

    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set mb-4">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-dark rounded border-0" type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
