{% extends 'base.html' %}
{% load static %}
{% block extra_title %}500 error page{% endblock %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="index-image">
        <div class="container-fluid">
            <div class="row h-100 welcome">
                <div class="col-12 text-center">
                    <h1 class="logo-font">500 Error Page</h1>
                </div>
                <div class="col-12 text-center">
                    <p>An error has occured please click the button below to return to the home page</p>
                </div>
                <div class="col-12 text-center">
                    <h2>
                        <a href="{% url 'home' %}" class="btn btn-dark no-border btn-lrg text-uppercase my-3" aria-label="go to home page" name="random">
                            <i class="fa-solid fa-house"></i> Home</a>
                    </h2>
                </div>
            </div>
        </div>
    </div>  
{% endblock %}