{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="logo-font checkout-success-title">Thank you for getting in touch!</h2>
            <hr class="w-75 mb-4">
            <p class="text-dark">Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 ">
            
        </div>
    </div>

{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'checkout/js/checkout.js' %}"></script>
{% endblock %}