.bag-title {
    position: relative;
    padding-bottom: 50px;
}

#delivery-banner {
    display: block;
}

#delivery-banner p {
    margin: 0;
    padding: 5px;
}


.bag-image {
    max-height: 150px;
    width: auto;
}

