{% extends 'base.html' %}
{% load static %}
{% block extra_title %}- Edit Product{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="logo-font no-banner-title mb-0">Product Management</h2>
            <h3 class="text-muted sub-title">Edit a Product</h3>
            <hr class="mb-4 w-75 add-product-container">
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 add-product-container">
                <form method="POST" actiom="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {% if field.name != 'image2' %}
                                {{ field | as_crispy_field }}
                            {% else %}
                                {{ field }}
                            {% endif %}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-center">
                        <a href="{% url 'products' %}?random=True" class="btn btn-dark rounded border-0 mt-2 mb-2" aria="go back to gallery">Cancel</a>
                        <button class="btn btn-dark rounded border-0 mt-2 mb-2" aria-label="submit product edit">Edit Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'products/js/products.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("delivery-banner").style.display = "none";
        });
    </script>
{% endblock %}